# Get your OpenAI API Key here for chat models: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=****

# Get your Fireworks AI API Key here for reasoning models: https://fireworks.ai/account/api-keys
FIREWORKS_API_KEY=****

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****

# [MORPH]
# Get your Morph API credentials for free at https://runmorph.dev
# You can use these demo credentials to access our fully functional mock API for testing

# Public key for client-side Morph operations
NEXT_PUBLIC_MORPH_PUBLIC_KEY="pk_demo_xxxxxxxxxxxxxxx"

# Secret key for server-side Morph operations
MORPH_SECRET_KEY="sk_demo_xxxxxxxxxxxxxxx"